<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>404--layui后台管理模板 2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/layui/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/layui/css/public.css" media="all" />
    <link rel="stylesheet" href="/static/css/page.css" media="all" />
    <script type="text/javascript" charset="utf-8" src="/static/layui/layui/layui.js"></script>
</head>
<body class="childrenBody">
<div class="page">
    <div class="info-panel">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>
                <i>
                    <!--<img src="${pageContext.request.contextPath}/resources/images/F-link.png">-->
                </i>
                作业详情
            </legend>
        </fieldset>
        <div class="layui-tab-item layui-show">
            <div class="layui-form">
                <!--<table class="layui-table" id="detailList" lay-filter="toolBar">-->
                <!--</table>-->
                <div class="layui-col-md4">
                <table class="layui-table" width="40%">
                    <h2 style="text-align: center;color: #0ab86c">已经提交</h2>
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>学号</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${alreadySubmitted}!=null" th:each="ass,userStat:${alreadySubmitted}">
                        <td th:text="${userStat.count}"></td>
                        <td th:text="${ass.studentId}"></td>
                        <td th:text="${ass.studentName}"></td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <div class="layui-col-md4 layui-col-md-offset4">
                </div>
                <div class="layui-col-md4" style="float: right">
                <table class="layui-table" width="40%">
                    <h2 style="text-align: center;color: red">暂未提交</h2>
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>学号</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${unsubmitted}!=null" th:each="uns,userStat:${unsubmitted}">
                        <td th:text="${userStat.count}"></td>
                        <td th:text="${uns.name}"></td>
                        <td th:text="${uns.number}"></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="/static/js/commissary/jobList.js"></script>
</script>